## Messy and raw dataset of EA Sports' latest installment of their hit FIFA series - FIFA21, which was scraped from sofifa.com.


### NOTE: If 'DONE' is found next to line commented out -- Action Complete

In [2]:
import pandas as pd
import numpy as np

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 180F-2F4C

 Directory of C:\Users\user\Documents\Data_Science\Project #4

2024-03-17  02:54 AM    <DIR>          .
2024-03-17  02:54 AM    <DIR>          ..
2024-03-16  08:18 PM    <DIR>          .ipynb_checkpoints
2024-03-16  08:04 PM         5,531,474 archive (2).zip
2020-10-22  08:24 AM         8,433,654 fifa21 raw data v2.csv
2020-10-22  08:24 AM         8,675,837 fifa21_raw_data.csv
2024-03-16  08:08 PM               654 READ_ME.txt
2024-03-17  02:54 AM           144,778 Untitled.ipynb
               5 File(s)     22,786,397 bytes
               3 Dir(s)  28,275,363,840 bytes free

In [4]:
df1 = pd.read_csv('fifa21_raw_data.csv', low_memory=False)

In [5]:
df1.head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,...,Medium,Low,5 ★,85,92,91,95,38,65,\n372
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,...,High,Low,5 ★,89,93,81,89,35,77,\n344
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,...,Medium,Medium,3 ★,87,92,78,90,52,90,\n86
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,...,High,High,4 ★,76,86,93,88,64,78,\n163
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,...,High,Medium,5 ★,91,85,86,94,36,59,\n273

In [11]:
df1.columns

Index(['photoUrl', 'LongName', 'playerUrl', 'Nationality', 'Positions', 'Name',
       'Age', '↓OVA', 'POT', 'Team & Contract', 'ID', 'Height', 'Weight',
       'foot', 'BOV', 'BP', 'Growth', 'Joined', 'Loan Date End', 'Value',
       'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

# Part 1 - Split cleaning process into different stages

In [24]:
df1.iloc[:,:10].info() # First 10 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   photoUrl         18979 non-null  object
 1   LongName         18979 non-null  object
 2   playerUrl        18979 non-null  object
 3   Nationality      18979 non-null  object
 4   Positions        18979 non-null  object
 5   Name             18979 non-null  object
 6   Age              18979 non-null  int64
 7   ↓OVA             18979 non-null  int64
 8   POT              18979 non-null  int64
 9   Team & Contract  18979 non-null  object
dtypes: int64(3), object(7)
memory usage: 1.4+ MB

In [26]:
df1.iloc[:,:10].head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n

In [73]:
# Team & Contract column is mad confusing --> split into Current_Team and Contract_Length

data = df1['Team & Contract'].str.split('\n')

df1['Current_Team'] = data.str[4]
df1['Contract_Length'] = data.str[5]

# Best to now split Contract_Length into Start_Contract & End_Contract. It looks as following for now:

df1['Contract_Length'].iloc[0]

'2004 ~ 2021'

In [78]:
data = df1['Contract_Length'].str.split('~')
df1['Start_Contract'] = data.str[0]
df1['End_Contract'] = data.str[1]

# Check the split columns

df1[['Current_Team', 'Start_Contract', 'End_Contract']].head()

          Current_Team Start_Contract End_Contract
0         FC Barcelona          2004          2021
1             Juventus          2018          2022
2      Atlético Madrid          2014          2023
3      Manchester City          2015          2023
4  Paris Saint-Germain          2017          2022

In [ ]:
# Replace Column Names: ↓OVA = Overall_Rating & POT = Potential_Rating

In [83]:
df1.rename(columns={'↓OVA': 'Overall_Rating', 'POT' : 'Potential_Rating'}, inplace=True)

df1[['Overall_Rating', 'Potential_Rating']].head()

   Overall_Rating  Potential_Rating
0              93                93
1              92                92
2              91                93
3              91                91
4              91                91

In [87]:
# drop Team & Contract

# df1.drop('Team & Contract', axis=1,inplace=True) 

df1.iloc[:,:9].info() # index 9 used to account for the drop above

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   Overall_Rating    18979 non-null  int64
 8   Potential_Rating  18979 non-null  int64
dtypes: int64(3), object(6)
memory usage: 1.3+ MB

# Part 2

In [92]:
# Moving on to the next 10 columns
df1.iloc[:,9:19]

,ID,Height,Weight,foot,BOV,BP,Growth,Joined,Loan Date End,Value
0,158023,"5'7""",159lbs,Left,93,RW,0,"Jul 1, 2004",NaN,€67.5M
1,20801,"6'2""",183lbs,Right,92,ST,0,"Jul 10, 2018",NaN,€46M
2,200389,"6'2""",192lbs,Right,91,GK,2,"Jul 16, 2014",NaN,€75M
3,192985,"5'11""",154lbs,Right,91,CAM,0,"Aug 30, 2015",NaN,€87M
4,190871,"5'9""",150lbs,Right,91,LW,0,"Aug 3, 2017",NaN,€90M
...,...,...,...,...,...,...,...,...,...,...
18974,257710,"5'10""",154lbs,Right,49,CB,5,"Aug 1, 2020",NaN,€35K
18975,258736,"5'7""",128lbs,Right,51,CAM,20,"Aug 1, 2020",NaN,€60K
18976,247223,"5'10""",146lbs,Right,49,CB,8,"Jul 13, 2018",NaN,€40K
18977,258760,"5'9""",143lbs,Right,51,CAM,20,"Aug 1, 2020",NaN,€60K
18978,255958,"5'9""",150lbs,Right,48,CDM,16,"Jan 1, 2020",NaN,€60K

In [93]:
df1.iloc[:,9:19].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             18979 non-null  int64
 1   Height         18979 non-null  object
 2   Weight         18979 non-null  object
 3   foot           18979 non-null  object
 4   BOV            18979 non-null  int64
 5   BP             18979 non-null  object
 6   Growth         18979 non-null  int64
 7   Joined         18979 non-null  object
 8   Loan Date End  1013 non-null   object
 9   Value          18979 non-null  object
dtypes: int64(3), object(7)
memory usage: 1.4+ MB

In [ ]:
# Observations: 
# 1) Height & Weight requires adjustment
# 2) Loan Date End requires further investigation. 
# 3) Value needs be converted - Remove the subscripts (k & M) - Remove the Euro sign and add it to column title

In [116]:
# df1['Weight(lbl)'] = df1['Weight'].str[0:3].astype(int) --- DONE
df1['Weight(lbl)'].head()

0    159
1    183
2    192
3    154
4    150
Name: Weight(lbl), dtype: int32

In [ ]:
# Height Adjustments here
# Converting to CM

def height_conv(h):
    
    feet_index = h.index("'")
    inches_index = h.index("\"")
    
    feet = int(h[:feet_index])
    inches = int(h[feet_index + 1:inches_index])
    
    h_cm = (feet * 30.48) + (inches * 2.54)
    
    return np.round(h_cm)
    
# df1['Height'] = df1['Height'].apply(height_conv) --- DONE
df1.rename(columns={'Height': 'Height(cm)'}, inplace=True)

In [118]:
# Loan Date End investigation 
# Column is null for the players that are not on loan. It shows the end of loaned players' contracts.
# Having NULL values for this column is unavoidable at this point of the ETL process. 
# Keep a close watch on this column during EDA. 

df1[df1['Loan Date End'].isnull() == False]['Loan Date End']

205      Jun 30, 2021
250      Jun 30, 2021
257      Jun 30, 2021
299      Jun 30, 2021
305      Jun 30, 2021
             ...
18497    Aug 31, 2021
18569    Dec 31, 2020
18580    Jun 30, 2021
18638    Dec 31, 2020
18696    Dec 31, 2020
Name: Loan Date End, Length: 1013, dtype: object

In [188]:
# Value = Market_Value(€)

# Multiply the subcripts and extract the € sign for the column title


def conversion(value):
    final_value = ''
    for char in value:
        if char.isdigit() or char == '.':
            final_value = final_value + char # string
    
    for i in value:
        if i == 'M':
            return float(final_value) * 1000000
        elif i == 'K':
            return float(final_value) * 1000
        
    return float(final_value)

        
# df1['Value'] = df1['Value'].apply(conversion) -- DONE
# df1.rename(columns={'Value': 'Market_Value(Euro)'}, inplace=True) -- DONE


# As a result of the function above, players with no Market Value were assigned NULL instead of 0 dollars. Let's change that:

df1['Market_Value(Euro)'] = df1['Market_Value(Euro)'].fillna(0)
df1['Market_Value(Euro)'].head()

0    67500000.0
1    46000000.0
2    75000000.0
3    87000000.0
4    90000000.0
Name: Market_Value(Euro), dtype: float64

In [258]:
# Check all adjustments done for PART 2

df1.iloc[:,9:19].info()

<class 'pandas.core.frame.DataFrame'>
Index: 18978 entries, 0 to 18978
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  18978 non-null  int64
 1   Height              18978 non-null  float64
 2   Weight(lbl)         18978 non-null  int64
 3   foot                18978 non-null  object
 4   BOV                 18978 non-null  int64
 5   BP                  18978 non-null  object
 6   Growth              18978 non-null  int64
 7   Joined              18978 non-null  object
 8   Loan Date End       1013 non-null   object
 9   Market_Value(Euro)  18978 non-null  float64
dtypes: float64(2), int64(4), object(4)
memory usage: 2.1+ MB

In [266]:
df1.iloc[:,9:19].head()

,ID,Height(cm),Weight(lbl),foot,BOV,BP,Growth,Joined,Loan Date End,Market_Value(Euro)
0,158023,170.0,159,Left,93,RW,0,"Jul 1, 2004",NaN,67500000.0
1,20801,188.0,183,Right,92,ST,0,"Jul 10, 2018",NaN,46000000.0
2,200389,188.0,192,Right,91,GK,2,"Jul 16, 2014",NaN,75000000.0
3,192985,180.0,154,Right,91,CAM,0,"Aug 30, 2015",NaN,87000000.0
4,190871,175.0,150,Right,91,LW,0,"Aug 3, 2017",NaN,90000000.0

# Part 3

In [176]:
df1.iloc[:,19:29].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Wage              18979 non-null  object
 1   Release Clause    18979 non-null  object
 2   Attacking         18979 non-null  int64
 3   Crossing          18979 non-null  int64
 4   Finishing         18979 non-null  int64
 5   Heading Accuracy  18979 non-null  int64
 6   Short Passing     18979 non-null  int64
 7   Volleys           18979 non-null  int64
 8   Skill             18979 non-null  int64
 9   Dribbling         18979 non-null  int64
dtypes: int64(8), object(2)
memory usage: 1.4+ MB

In [177]:
df1.iloc[:,19:29].head()

,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling
0,€560K,€138.4M,429,85,95,70,91,88,470,96
1,€220K,€75.9M,437,84,95,90,82,86,414,88
2,€125K,€159.4M,95,13,11,15,43,13,109,12
3,€370K,€161M,407,94,82,55,94,82,441,88
4,€270K,€166.5M,408,85,87,62,87,87,448,95

In [ ]:
# Observations:

# Wage should be a float and conversion needed, same for Release Clause, new column names to include Euro
# Everything else is fine

In [196]:
# Wage &  Release Clause
# df1['Wage'] = df1['Wage'].apply(conversion) -- DONE
# df1['Release Clause'] = df1['Release Clause'].apply(conversion) -- DONE

df1.rename(columns={'Wage': 'Wage(Euro)', 'Release Clause' : 'Release_Clause(Euro)'}, inplace=True)

In [197]:
# Check Part 3
df1.iloc[:,19:29].head()

,Wage(Euro),Release_Clause(Euro),Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling
0,560000.0,138400000.0,429,85,95,70,91,88,470,96
1,220000.0,75900000.0,437,84,95,90,82,86,414,88
2,125000.0,159400000.0,95,13,11,15,43,13,109,12
3,370000.0,161000000.0,407,94,82,55,94,82,441,88
4,270000.0,166500000.0,408,85,87,62,87,87,448,95

In [198]:
df1.iloc[:,19:29].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Wage(Euro)            18979 non-null  float64
 1   Release_Clause(Euro)  18979 non-null  float64
 2   Attacking             18979 non-null  int64
 3   Crossing              18979 non-null  int64
 4   Finishing             18979 non-null  int64
 5   Heading Accuracy      18979 non-null  int64
 6   Short Passing         18979 non-null  int64
 7   Volleys               18979 non-null  int64
 8   Skill                 18979 non-null  int64
 9   Dribbling             18979 non-null  int64
dtypes: float64(2), int64(8)
memory usage: 1.4 MB

## Part 4

In [199]:
df1.iloc[:,29:39].head() # FINE

,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance
0,93,94,91,96,451,91,80,91,94,95
1,81,76,77,92,431,87,91,87,95,71
2,13,14,40,30,307,43,60,67,88,49
3,85,83,93,92,398,77,76,78,91,76
4,88,89,81,95,453,94,89,96,91,83

In [202]:
df1.iloc[:,29:39].info() # FINE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Curve         18979 non-null  int64
 1   FK Accuracy   18979 non-null  int64
 2   Long Passing  18979 non-null  int64
 3   Ball Control  18979 non-null  int64
 4   Movement      18979 non-null  int64
 5   Acceleration  18979 non-null  int64
 6   Sprint Speed  18979 non-null  int64
 7   Agility       18979 non-null  int64
 8   Reactions     18979 non-null  int64
 9   Balance       18979 non-null  int64
dtypes: int64(10)
memory usage: 1.4 MB

## Part 5

In [203]:
df1.iloc[:,39:49].head() # FINE

,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning
0,389,86,68,72,69,94,347,44,40,93
1,444,94,95,84,78,93,353,63,29,95
2,268,59,78,41,78,12,140,34,19,11
3,408,91,63,89,74,91,408,76,66,88
4,357,80,62,81,50,84,356,51,36,87

In [204]:
df1.iloc[:,29:39].info() # FINE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Curve         18979 non-null  int64
 1   FK Accuracy   18979 non-null  int64
 2   Long Passing  18979 non-null  int64
 3   Ball Control  18979 non-null  int64
 4   Movement      18979 non-null  int64
 5   Acceleration  18979 non-null  int64
 6   Sprint Speed  18979 non-null  int64
 7   Agility       18979 non-null  int64
 8   Reactions     18979 non-null  int64
 9   Balance       18979 non-null  int64
dtypes: int64(10)
memory usage: 1.4 MB

## PART 6

In [205]:
df1.iloc[:,49:59].head() # FINE

,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling
0,95,75,96,91,32,35,24,54,6,11
1,82,84,95,84,28,32,24,58,7,11
2,65,11,68,57,27,12,18,437,87,92
3,94,84,91,186,68,65,53,56,15,13
4,90,92,93,94,35,30,29,59,9,9

In [206]:
df1.iloc[:,49:59].info() # FINE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Vision           18979 non-null  int64
 1   Penalties        18979 non-null  int64
 2   Composure        18979 non-null  int64
 3   Defending        18979 non-null  int64
 4   Marking          18979 non-null  int64
 5   Standing Tackle  18979 non-null  int64
 6   Sliding Tackle   18979 non-null  int64
 7   Goalkeeping      18979 non-null  int64
 8   GK Diving        18979 non-null  int64
 9   GK Handling      18979 non-null  int64
dtypes: int64(10)
memory usage: 1.4 MB

# PART 7

In [210]:
df1.iloc[:,59:69].head()

,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR
0,15,14,8,2231,466,4 ★,4★,Medium,Low,5 ★
1,15,14,11,2221,464,4 ★,5★,High,Low,5 ★
2,78,90,90,1413,489,3 ★,1★,Medium,Medium,3 ★
3,5,10,13,2304,485,5 ★,4★,High,High,4 ★
4,15,15,11,2175,451,5 ★,5★,High,Medium,5 ★

In [209]:
df1.iloc[:,59:69].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GK Kicking      18979 non-null  int64
 1   GK Positioning  18979 non-null  int64
 2   GK Reflexes     18979 non-null  int64
 3   Total Stats     18979 non-null  int64
 4   Base Stats      18979 non-null  int64
 5   W/F             18979 non-null  object
 6   SM              18979 non-null  object
 7   A/W             18979 non-null  object
 8   D/W             18979 non-null  object
 9   IR              18979 non-null  object
dtypes: int64(5), object(5)
memory usage: 1.4+ MB

In [ ]:
# Observations
# Remove the stars from W/F, SM, IR. This action will not jeopardize the integrity of the data. The ratings will remain intact.
# Convert their types to int

In [212]:
df1['W/F'].value_counts()

W/F
3 ★    11695
2 ★     4141
4 ★     2722
5 ★      283
1 ★      138
Name: count, dtype: int64

In [220]:
def check_number(rating):
    for i in rating:
        if i.isdigit():
            return int(i)

df1['W/F'] = df1['W/F'].apply(check_number)
df1['SM'] = df1['SM'].apply(check_number)
df1['IR'] = df1['IR'].apply(check_number)

In [223]:
df1[['W/F', 'SM', 'IR']].head()

   W/F  SM  IR
0    4   4   5
1    4   5   5
2    3   1   3
3    5   4   4
4    5   5   5

In [221]:
df1.iloc[:,59:69].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GK Kicking      18979 non-null  int64
 1   GK Positioning  18979 non-null  int64
 2   GK Reflexes     18979 non-null  int64
 3   Total Stats     18979 non-null  int64
 4   Base Stats      18979 non-null  int64
 5   W/F             18979 non-null  int64
 6   SM              18979 non-null  int64
 7   A/W             18979 non-null  object
 8   D/W             18979 non-null  object
 9   IR              18979 non-null  int64
dtypes: int64(8), object(2)
memory usage: 1.4+ MB

## Part 8

In [224]:
df1.iloc[:,69:].head()

,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Current_Team,Contract_Length,Start_Contract,End_Contract
0,85,92,91,95,38,65,\n372,FC Barcelona,2004 ~ 2021,2004,2021
1,89,93,81,89,35,77,\n344,Juventus,2018 ~ 2022,2018,2022
2,87,92,78,90,52,90,\n86,Atlético Madrid,2014 ~ 2023,2014,2023
3,76,86,93,88,64,78,\n163,Manchester City,2015 ~ 2023,2015,2023
4,91,85,86,94,36,59,\n273,Paris Saint-Germain,2017 ~ 2022,2017,2022

In [225]:
df1.iloc[:,69:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PAC              18979 non-null  int64
 1   SHO              18979 non-null  int64
 2   PAS              18979 non-null  int64
 3   DRI              18979 non-null  int64
 4   DEF              18979 non-null  int64
 5   PHY              18979 non-null  int64
 6   Hits             18979 non-null  object
 7   Current_Team     18979 non-null  object
 8   Contract_Length  18741 non-null  object
 9   Start_Contract   18741 non-null  object
 10  End_Contract     17728 non-null  object
dtypes: int64(6), object(5)
memory usage: 1.6+ MB

In [227]:
# Observations
# Extract Integer from Hits
# Drop the Contract_Length column that was creating in the very beginning of cleaning process

# df1.drop('Contract_Length', axis=1, inplace=True) --- DONE

df1['Hits'].value_counts()

Hits
\n1      4321
\n2      3095
\n3      2083
\n4      1407
\n5      1064
         ...
\n356       1
\n984       1
\n2K        1
\n603       1
\n208       1
Name: count, Length: 374, dtype: int64

In [231]:
# For ['Hits'], after getting rid of unwanted characters, pass it through the conversion function

# df1['Hits'] = df1['Hits'].str.replace('\n', '').apply(conversion) -- DONE

df1['Hits']

0        372.0
1        344.0
2         86.0
3        163.0
4        273.0
         ...
18974      2.0
18975      3.0
18976      3.0
18977      5.0
18978      2.0
Name: Hits, Length: 18979, dtype: float64

In [232]:
# Perform a final check to Part 8

df1.iloc[:,69:].head()

,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Current_Team,Start_Contract,End_Contract
0,85,92,91,95,38,65,372.0,FC Barcelona,2004,2021
1,89,93,81,89,35,77,344.0,Juventus,2018,2022
2,87,92,78,90,52,90,86.0,Atlético Madrid,2014,2023
3,76,86,93,88,64,78,163.0,Manchester City,2015,2023
4,91,85,86,94,36,59,273.0,Paris Saint-Germain,2017,2022

# Final Part

In [267]:
df1 = df1.applymap(lambda x: x.strip() if isinstance(x, str) else x)
pd.set_option('display.max_columns', None)
df1.head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,Overall_Rating,Potential_Rating,ID,Height(cm),Weight(lbl),foot,BOV,BP,Growth,Joined,Loan Date End,Market_Value(Euro),Wage(Euro),Release_Clause(Euro),Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Current_Team,Start_Contract,End_Contract
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,158023,170.0,159,Left,93,RW,0,"Jul 1, 2004",NaN,67500000.0,560000.0,138400000.0,429,85,95,70,91,88,470,96,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8,2231,466,4,4,Medium,Low,5,85,92,91,95,38,65,372.0,FC Barcelona,2004,2021
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,20801,188.0,183,Right,92,ST,0,"Jul 10, 2018",NaN,46000000.0,220000.0,75900000.0,437,84,95,90,82,86,414,88,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11,2221,464,4,5,High,Low,5,89,93,81,89,35,77,344.0,Juventus,2018,2022
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,200389,188.0,192,Right,91,GK,2,"Jul 16, 2014",NaN,75000000.0,125000.0,159400000.0,95,13,11,15,43,13,109,12,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90,1413,489,3,1,Medium,Medium,3,87,92,78,90,52,90,86.0,Atlético Madrid,2014,2023
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,192985,180.0,154,Right,91,CAM,0,"Aug 30, 2015",NaN,87000000.0,370000.0,161000000.0,407,94,82,55,94,82,441,88,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13,5,10,13,2304,485,5,4,High,High,4,76,86,93,88,64,78,163.0,Manchester City,2015,2023
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,190871,175.0,150,Right,91,LW,0,"Aug 3, 2017",NaN,90000000.0,270000.0,166500000.0,408,85,87,62,87,87,448,95,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9,15,15,11,2175,451,5,5,High,Medium,5,91,85,86,94,36,59,273.0,Paris Saint-Germain,2017,2022

In [242]:
df1['ID'].count()

18979

In [241]:
# Check for duplicates based on Player's ID -- PRIMARY KEY
df1['ID'].nunique()

18978

In [245]:
df1[df1.duplicated(keep=False)]

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,Overall_Rating,Potential_Rating,ID,Height,Weight(lbl),foot,BOV,BP,Growth,Joined,Loan Date End,Market_Value(Euro),Wage(Euro),Release_Clause(Euro),Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Current_Team,Start_Contract,End_Contract
899,https://cdn.sofifa.com/players/251/698/21_60.png,Kevin Berlaso,http://sofifa.com/player/251698/kevin-berlaso/...,Ecuador,RB,K. Berlaso,32,77,77,251698,"5'8""",152,Right,77,RB,0,"Jan 1, 2010",NaN,0.0,0.0,0.0,306,72,47,60,73,54,350,75,75,54,68,78,397,77,78,86,77,79,345,69,70,86,57,63,323,73,70,69,63,48,73,224,71,75,78,58,11,12,11,16,8,2003,420,3,4,High,Medium,2,78,56,69,77,72,68,12.0,,NaN,NaN
944,https://cdn.sofifa.com/players/251/698/21_60.png,Kevin Berlaso,http://sofifa.com/player/251698/kevin-berlaso/...,Ecuador,RB,K. Berlaso,32,77,77,251698,"5'8""",152,Right,77,RB,0,"Jan 1, 2010",NaN,0.0,0.0,0.0,306,72,47,60,73,54,350,75,75,54,68,78,397,77,78,86,77,79,345,69,70,86,57,63,323,73,70,69,63,48,73,224,71,75,78,58,11,12,11,16,8,2003,420,3,4,High,Medium,2,78,56,69,77,72,68,12.0,,NaN,NaN

In [248]:
# df1.drop(899, inplace=True) -- DONE
df1[df1.duplicated(keep=False)] # No more duplicates

Empty DataFrame
Columns: [photoUrl, LongName, playerUrl, Nationality, Positions, Name, Age, Overall_Rating, Potential_Rating, ID, Height, Weight(lbl), foot, BOV, BP, Growth, Joined, Loan Date End, Market_Value(Euro), Wage(Euro), Release_Clause(Euro), Attacking, Crossing, Finishing, Heading Accuracy, Short Passing, Volleys, Skill, Dribbling, Curve, FK Accuracy, Long Passing, Ball Control, Movement, Acceleration, Sprint Speed, Agility, Reactions, Balance, Power, Shot Power, Jumping, Stamina, Strength, Long Shots, Mentality, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Defending, Marking, Standing Tackle, Sliding Tackle, Goalkeeping, GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes, Total Stats, Base Stats, W/F, SM, A/W, D/W, IR, PAC, SHO, PAS, DRI, DEF, PHY, Hits, Current_Team, Start_Contract, End_Contract]
Index: []

In [268]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18978 entries, 0 to 18978
Data columns (total 79 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   photoUrl              18978 non-null  object
 1   LongName              18978 non-null  object
 2   playerUrl             18978 non-null  object
 3   Nationality           18978 non-null  object
 4   Positions             18978 non-null  object
 5   Name                  18978 non-null  object
 6   Age                   18978 non-null  int64
 7   Overall_Rating        18978 non-null  int64
 8   Potential_Rating      18978 non-null  int64
 9   ID                    18978 non-null  int64
 10  Height(cm)            18978 non-null  float64
 11  Weight(lbl)           18978 non-null  int64
 12  foot                  18978 non-null  object
 13  BOV                   18978 non-null  int64
 14  BP                    18978 non-null  object
 15  Growth                18978 non-null  int64
 16  Joined                18978 non-null  object
 17  Loan Date End         1013 non-null   object
 18  Market_Value(Euro)    18978 non-null  float64
 19  Wage(Euro)            18978 non-null  float64
 20  Release_Clause(Euro)  18978 non-null  float64
 21  Attacking             18978 non-null  int64
 22  Crossing              18978 non-null  int64
 23  Finishing             18978 non-null  int64
 24  Heading Accuracy      18978 non-null  int64
 25  Short Passing         18978 non-null  int64
 26  Volleys               18978 non-null  int64
 27  Skill                 18978 non-null  int64
 28  Dribbling             18978 non-null  int64
 29  Curve                 18978 non-null  int64
 30  FK Accuracy           18978 non-null  int64
 31  Long Passing          18978 non-null  int64
 32  Ball Control          18978 non-null  int64
 33  Movement              18978 non-null  int64
 34  Acceleration          18978 non-null  int64
 35  Sprint Speed          18978 non-null  int64
 36  Agility               18978 non-null  int64
 37  Reactions             18978 non-null  int64
 38  Balance               18978 non-null  int64
 39  Power                 18978 non-null  int64
 40  Shot Power            18978 non-null  int64
 41  Jumping               18978 non-null  int64
 42  Stamina               18978 non-null  int64
 43  Strength              18978 non-null  int64
 44  Long Shots            18978 non-null  int64
 45  Mentality             18978 non-null  int64
 46  Aggression            18978 non-null  int64
 47  Interceptions         18978 non-null  int64
 48  Positioning           18978 non-null  int64
 49  Vision                18978 non-null  int64
 50  Penalties             18978 non-null  int64
 51  Composure             18978 non-null  int64
 52  Defending             18978 non-null  int64
 53  Marking               18978 non-null  int64
 54  Standing Tackle       18978 non-null  int64
 55  Sliding Tackle        18978 non-null  int64
 56  Goalkeeping           18978 non-null  int64
 57  GK Diving             18978 non-null  int64
 58  GK Handling           18978 non-null  int64
 59  GK Kicking            18978 non-null  int64
 60  GK Positioning        18978 non-null  int64
 61  GK Reflexes           18978 non-null  int64
 62  Total Stats           18978 non-null  int64
 63  Base Stats            18978 non-null  int64
 64  W/F                   18978 non-null  int64
 65  SM                    18978 non-null  int64
 66  A/W                   18978 non-null  object
 67  D/W                   18978 non-null  object
 68  IR                    18978 non-null  int64
 69  PAC                   18978 non-null  int64
 70  SHO                   18978 non-null  int64
 71  PAS                   18978 non-null  int64
 72  DRI                   18978 non-null  int64
 73  DEF                   18978 non-null  int64
 74  PHY                   18978 non-null  int64
 75  Hits                  18978 non-null  float64
 76  Current_Team          18978 non-null  object
 77  Start_Contract        18741 non-null  object
 78  End_Contract          17728 non-null  object
dtypes: float64(5), int64(59), object(15)
memory usage: 12.1+ MB

## DATA IS OFFICIALLY CLEAN!

Reasoning behind NULL values are as follows:

['Loan End Date'] - most players have permanent contracts. This column's data only applies to players on loan. 
['Start_Contract'] & ['End_Contract'] - these columns derived from the ['Term & Contract'] column. Some of the dates were missing in the first place for some of the players. NULL values are simply representing a lack of data.